
bin/AndroidManifest.xml

bin/R.txt

bin/classes/android/support/v7/appcompat/R$anim.class

bin/classes/android/support/v7/appcompat/R$attr.class

bin/classes/android/support/v7/appcompat/R$bool.class

bin/classes/android/support/v7/appcompat/R$color.class

bin/classes/android/support/v7/appcompat/R$dimen.class

bin/classes/android/support/v7/appcompat/R$drawable.class

bin/classes/android/support/v7/appcompat/R$id.class

bin/classes.dex

bin/classes/android/support/v7/appcompat/R$integer.class

gen/com/yjlo/test/R.java

bin/classes/android/support/v7/appcompat/R$layout.class

bin/classes/android/support/v7/appcompat/R$string.class

bin/classes/android/support/v7/appcompat/R$style.class

bin/classes/android/support/v7/appcompat/R$styleable.class

bin/classes/android/support/v7/appcompat/R.class

bin/classes/com/yjlo/test/BuildConfig.class

*.class

*.jar

bin/jarlist.cache

*.png

bin/resources.ap_

bin/test.apk

gen/android/support/v7/appcompat/R.java

gen/com/yjlo/test/BuildConfig.java
